<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=sensedev1\Mssqlserver14;Initial Catalog=bolist_DB02;User ID=sa;Password=abcd1234"/>
    <add key="ReportDir" value="C:\Raymond\GenerateBonusNewReportKD\Reports\ToDay\"/> <!--"D:\KD\Bolist\GenerateBonusNewReportKD\GenerateBonusReport\Report\"-->
  </appSettings>
</configuration>