<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=DBBOLIST;Initial Catalog=bolist_DB02;User ID=sa;Password=Pr3vSqlZauz3rqwdun!vers3"/>
    <add key="ReportDir" value="C:\Raymond\GenerateBonusNewReportKD\Reports\ToDay\"/>
  </appSettings>
</configuration>